body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.game-container {
    width: 80%;
    margin: 40px auto;
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.scoreboard {
    margin-bottom: 20px;
}

.game-controls {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41;
}

footer{
    background-color: gray;
    color: white;
    width: 100%;
    bottom: 0%;
}